@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/Masterpage.cshtml";
}

<div class="container">
    <table>
        <tr>
            <td>
                <img src="~/Content/Hinh/blog1.PNG" />
            </td>
            <td>
                <h3><a href="https://zofal.vn/nhung-thiet-ke-trang-chuan-cong-so-ma-nang-khong-the-bo-qua/">Những thiết kế trang"chuẩn công sở" mà nàng không thể bỏ qua</a></h3>
                <a>
                    "Fashion is about dressing according to what's fashionable. Style is more about being yourself."
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/Hinh/blog2.PNG" />
            </td>
            <td>
                <h3><a href="https://zofal.vn/diem-ten-nhung-thiet-ke-ao-len-cho-ngay-thu-dong/">Điểm tên những thiết kế áo len cho ngày Thu Đông</a></h3>
                <a>
                    "Fashion is about dressing according to what's fashionable. Style is more about being yourself."
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/Hinh/blog3.PNG" />
            </td>
            <td>
                <h3><a href="https://zofal.vn/nhung-luu-y-khong-the-bo-qua-khi-lua-chon-blazer-linen/">Những  lưu ý không thể bỏ qua khi lựa chọn blazer linne</a></h3>
                <a>
                    "Fashion is about dressing according to what's fashionable. Style is more about being yourself."
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/Hinh/blog4.PNG" />
            </td>
            <td>
                <h3><a href="https://zofal.vn/nhung-thiet-ke-trang-chuan-cong-so-ma-nang-khong-the-bo-qua/">Tại sao nàng nên lựa chọn đầm thiết kế?</a></h3>
                <a>
                    "Fashion is about dressing according to what's fashionable. Style is more about being yourself."
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/Hinh/blog5.PNG" />
            </td>
            <td>
                <h3><a href="https://zofal.vn/nhung-thiet-ke-trang-chuan-cong-so-ma-nang-khong-the-bo-qua/">Những thiết kế trang"chuẩn công sở" mà nàng không thể bỏ qua</a></h3>
                <a>
                    "Fashion is about dressing according to what's fashionable. Style is more about being yourself."
                </a>
            </td>
        </tr>
        
    </table>
</div>
